:root {
  --main-color-blue: #0275d8;
  --main-color-success: #5cb85c;
  --main-color-info: #5bc0de;
  --main-color-warning: #f0ad4e;
  --main-color-danger: #d9534f;
  --main-color-white: #f7f7f7;
}

.display-only {
  user-select: none;
}

.active-btn {
  cursor: pointer;
}

.active-btn:active {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
