@font-face {
  font-family: "Ai-Deep";
  src: url("./AiDeep.otf");
}

@font-face {
  font-family: "ArimaKoshi-Regular";
  src: url("./ArimaKoshi-Regular.otf");
}

@font-face {
  font-family: "ArimaKoshi-Medium";
  src: url("./ArimaKoshi-Medium.otf");
}
